<div class="">
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home page</a>
    <a routerLink="/todo" routerLinkActive="active">TodoApp</a>
    <a routerLink="/blog" routerLinkActive="active">My blog</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/user" routerLinkActive="active">User site</a>
    <a routerLink="/admin" routerLinkActive="active">Admin site</a>
  </nav>
</div>
<router-outlet></router-outlet>
