<h1 class="container">This is my blog</h1>
<div class="blog-container">
    <div class="blog-content" *ngFor="let blog of blogs;" >
        <h2 (click)="handleClickDetailBlog(blog)">{{blog.title}}</h2>       
        <p (click)="handleClickDetailBlog(blog)">{{blog.content}}</p>
        <div class="blog-detail">
            <span class="like">{{blog.like}} like</span>
            <span class="dislike">{{blog.dislike}} dislike</span>
            <span class="date-upload">{{blog.dateUpload}}</span>
            <a routerLink="/blog/{{blog.id}}" class="btn-detail" (click)="handleClickDetailBlog(blog)">Chi tiết</a>
        </div>
    </div>
</div>
