$fontSizeContent : 24px;
$fontSizeDeatail : 18px;
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        font-size: $fontSizeContent;
    }
}
.new-blog{
    text-decoration: none;
    color:black;
    margin-left: 20px;
    font-size:$fontSizeContent;
}
.blog-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .blog-content{
        display: block;
        width: 450px;
        min-height: 250px;
        position: relative;
        font-size: $fontSizeContent;
        .blog-detail{
            justify-content: flex-start;
            align-items: flex-end;
            position:absolute;
            bottom:0;
            font-size: $fontSizeDeatail;
            span{
                padding-right: 20px;
                color: black;
            }
            span.like{
                color:blue;
            }
            span.dislike{
                color: red;
            }
            span.date-upload{
                font-style: italic;
            }
            .btn-action{
                .btn-detail{
                    border: none;
                    border-radius: 5px;
                    font-weight: bold;
                    cursor: pointer;
                    background-color: cyan;
                    color: black;
                    margin-right: 10px;
                    text-decoration: none;
                    font-size: 20px;
                }
                .btn-detail:hover{
                    background-color: rgb(121, 188, 210);
                    color: white;
                }
            }
            
        
        }
    }
}